@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	scroll-behavior: smooth;
	list-style: none;
	flex: 0 0 auto;
}
img{
	max-width: 100%;

}
body{
	font-family: 'Open Sans';
	font-size: 16px:;

}
a, a:hover{
	text-decoration: none;
}
.container{
    width: 1200px;
    margin: auto;
    
}
.flex{
	display: flex;
	flex-wrap: wrap;
	
}
.col-4{
    width: 25%;
    padding: 15px;
}
.col-3{
    width: 33.3%;
    padding: 15px;
}
.heading{
    text-align: center;
    margin-bottom: 50px;
}
.heading h2{
    font-size: 40px;
    line-height: 1;
}
h1{line-height: 1;
	margin: 20px 0;
	font-size: 60px;}
h1 span{
	font-size: 60px !important;
	color: #21b573 !important;
	}
p{
    font-size: 22px;
    line-height: 1.4;
    color: #656567;
    margin-bottom: 10px;
    
}
.pad-y{
	padding-top: 90px;
	padding-bottom: 30px;
}

.banner-section{
	background: #F1FFF0;
}
header{
	position: fixed;
	background: honeydew;
	width: 100%;
}
.logo{
    width: 15%;
    padding: 15px;
}
.logo a{}
.logo a img{}
nav{
    width: 85%;
    padding: 15px;
}
nav ul{
 
    justify-content: flex-end;
}
nav ul li{}
nav ul li a{
    color: #413960;
    font-size: 19px;
    padding: 10px 20px;
    border-radius: 30px;
    display: block;
    transition-duration: .3s;
    font-weight: 600;
}
nav ul li a:hover{
    background: #21b573;
    color: white;
}
.banner-content{
    width: 45%;
    padding: 15px;
}
.banner-content span{
    color: #FD511A;
    FONT-SIZE: 18PX;
    letter-spacing: 1px;
}
.btn{
    color: #413960;
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 30px;
    display: inline-block;
    transition-duration: .3s;
    background: #21b573;
    color: white;
    display: inline-block;
}
.btn:hover{
}
.banner-image{
    width: 55%;
    padding: 15px 50px;
}
.banner-image img{}



.feature-section{
    padding: 50px 0px;
}
.feature:hover{
    box-shadow: 0px 10px 40px 0px #00000012;
    background: white;
}
.feature{
    background: #F1FFF0;
    text-align: center;
    padding: 45px 30px;
    border-radius: 15px;
    /* box-shadow: 0px 10px 40px 0px #00000012; */
    transition-duration: .3s;
}
.feature img{
    height: 80px;
}
.feature h3{
    margin: 5px 0;
    font-size: 20px;
    color: #413960;
}
.feature p{
	
font-size: 18px;
	
margin: 0;
}


.course-section{}
.course{
    box-shadow: 0px 10px 40px 0px #00000012;
    border-radius: 15px;
    padding: 15px;
}
.course img{}
.course h3{
    margin: 5px 0;
    font-size: 20px;
    color: #413960;
}
.course span{
    color: #413960;
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
}
.course ul{
    justify-content: space-between;
    margin-top: 10px;
}
.course ul li{
    color: #413960;
    font-size: 15px;
    padding-top: 10px;
}
.course ul li i{}


.testimonial-section .flex{
	justify-content: center;
	align-items: center;
}

.testimonial-section{
    padding: 50px 0px;
}
.client-img{
    width: 15%;
    padding: 15px;
}
.client-img img{}
.client-content{
    width: 50%;
    padding: 15px;
}
.client-content p{
    line-height: 1.5;
    font-size: 18px;
}



footer{
    background: #39393b;
    padding-top: 50PX;
}
footer p{
    color: white;
    font-size: 16px;
}
footer ul{}
footer ul li{}
footer ul li strong{
    color: white;
    font-size: 20px;
}
footer ul li a{
    display: block;
    color: white;
    font-size: 16px;
    padding: 3px 0px;
}
footer ul li a:hover{}

.copyright{
    padding: 30px 10px;
    text-align: center;
    font-size: 16px;
}
.copyright a{
    font-weight: 600;
    color: #21b573;
    font-size: 17px;
    margin: 0;
}
.copyright a:hover{
    color: #fd511a;
}


